{% extends "manager/layout.html" %}

{% block body %}

    <h1>Change password</h1>

    <form action="{% url 'new_password' user_id %}" method="post">
        {% csrf_token %}
        <label for="password">New Password:</label>
            <input type="password" id="password" name="password">
        <br>
        <label for="confirmed_password">Confirm New Password:</label>
            <input type="password" id="confirmed_password" name="confirmed_password">
        <br>
            <a>Suggested Password: {{ suggested_password }}</a>
        <br>
            <input type="submit">
    </form>

    {% if message %}
        {{ message }}
    {% endif %}

{% endblock %}