{% extends "manager/layout.html" %}

{% block body %}

    <h1>New account</h1>
    <!-- Web page that allow the user to add and store a new account in the password manager -->
    <form action="{% url 'new_account' %}" method="post">
        {% csrf_token %}
        <label for="email">Email:</label>
            <input type="email" id="email" name="email">
        <br>
            <label for="name">name:</label>
                <input type="text" id="name" name="name">
        <br>
            <label for="password">Password:</label>
                <input type="password" id="password" name="password">
        <br>
            <!-- suggest a strong password for the user -->
            <a>Suggested Password: {{ suggested_password }}</a>
        <br>
        <input type="submit">
    </form>


{% endblock %}

